%form.form-horizontal(action="/transactions" method="post")
  .form-group
    %label.col-sm-2.control-label(for="hex") Transaction
    .col-sm-10
      %textarea.form-control(placeholder="paste transaction hex" rows="3" name="hex")

  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-primary(type="submit") Submit
